In [6]:
import pandas as pd
f1 = pd.read_csv('final_financial_data_report.csv')
f2 = pd.read_csv('final_financial_data_%summary.csv')

In [7]:
f1

,Unnamed: 0,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operating Activities Growth (%)
0,0,Microsoft,2021,168088,61271,333779,191791,76740,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,Microsoft,2022,198270,72738,364840,198298,89035,17.956071,18.715216,9.305858,3.392756,16.021631
2,2,Microsoft,2023,211915,72361,411976,205753,87582,6.882030,-0.518299,12.919636,3.759493,-1.631942
3,3,Tesla,2021,53821,5519,62131,30548,11497,0.000000,0.000000,0.000000,0.000000,0.000000
4,4,Tesla,2022,81462,12556,82338,36440,14724,51.357277,127.504983,32.523217,19.287678,28.068192
5,5,Tesla,2023,96773,14974,106618,43009,13256,18.795267,19.257725,29.488207,18.026894,-9.970117
6,6,Apple,2021,365817,94680,351002,287912,104038,0.000000,0.000000,0.000000,0.000000,0.000000
7,7,Apple,2022,394328,99803,352755,302083,122151,7.793788,5.410858,0.499427,4.921990,17.409985
8,8,Apple,2023,383285,96995,352583,290437,110543,-2.800461,-2.813543,-0.048759,-3.855232,-9.502992

In [8]:
f2

,Unnamed: 0,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operating Activities Growth (%)
0,0,Apple,1.664442,0.865772,0.150223,0.355586,2.635664
1,1,Microsoft,8.279367,6.065639,7.408498,2.384083,4.796563
2,2,Tesla,23.384181,48.920903,20.670475,12.438191,6.032692

In [10]:
%run AI_Financial_chatbot_development.py

----------------------------------------------------------------------------

Enter start to start the chatbot session; type 'exit' to quit): exit

In [11]:
%run AI_Financial_chatbot_development.py

----------------------------------------------------------------------------

Enter start to start the chatbot session; type 'exit' to quit): start

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Enter company name : microsoft

The data for the fiscal year 2023, 2022, and 2021 is currently available
The fiscal year for the selected company : 2023

Please enter your query
What is the total revenue?
The Total Revenue for Microsoft for fiscal year 2023 is $ 211915
----------------------------------------------------------------------------

Enter start to start the chatbot session; type 'exit' to quit): start

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Enter company name : tesla

The data for the fiscal year 2023, 2022, and 2021 is currently available
The fiscal year for the selected company : 2022

Please enter your query
What is the Net Income?
The Net Income for Tesla for fiscal year 2022 is $ 12556
----------------------------------------------------------------------------

Enter start to start the chatbot session; type 'exit' to quit): start

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Enter company name : apple

The data for the fiscal year 2023, 2022, and 2021 is currently available
The fiscal year for the selected company : 2021

Please enter your query
What is the sum of total assets?
The sum of Total Assets for Apple for fiscal year 2021 is $ 351002
----------------------------------------------------------------------------

Enter start to start the chatbot session; type 'exit' to quit): start

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Enter company name : microsoft

The data for the fiscal year 2023, 2022, and 2021 is currently available
The fiscal year for the selected company : 2023

Please enter your query
What is the sum of total liabilities?
The sum of Total Liabilities for Microsoft for fiscal year 2023 is $ 205753
----------------------------------------------------------------------------

Enter start to start the chatbot session; type 'exit' to quit): tesla
Enter 'start' Properly!!!!! by starting the chatbot session again

In [14]:
%run AI_Financial_chatbot_development.py

----------------------------------------------------------------------------

Enter start to start the chatbot session; type 'exit' to quit): start

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Enter company name : Tesla

The data for the fiscal year 2023, 2022, and 2021 is currently available
The fiscal year for the selected company : 2022

Please enter your query
What is the net income growth(%) ?
The Net Income Growth(%) for Tesla for fiscal year 2022 is 127.505(%)
----------------------------------------------------------------------------

Enter start to start the chatbot session; type 'exit' to quit): start

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Enter company name : appe
Invalid Company Name. Please check and enter correct company name by starting the chatbot session again